<div mat-dialog-content>
  <form class="form-horizontal" [formGroup]="addForm" (ngSubmit)="onSubmit()">

    <mat-form-field class="col-sm-12">
      <mat-label for="name">Nome do Produto</mat-label>
      <input matInput type="text" class="" placeholder="Nome do Produto" formControlName="name">
    </mat-form-field>

    <mat-form-field class="col-sm-12 form-group">
      <mat-label for="price">R$</mat-label>
      <input matInput type="number" class="" placeholder="Preço do Produto" formControlName="price">
    </mat-form-field>

    <mat-form-field class="col-sm-12 form-group">
      <mat-label for="image">Imagem do Produto</mat-label>
      <input matInput type="text" class="" placeholder="Imagem do Produto" formControlName="image">
    </mat-form-field>
  </form>
  <mat-form-field class="col-sm-12 form-group">
    <mat-label>Selecione uma oferta para o Produto</mat-label>
    <mat-select [(value)]="offerId">
      <mat-option *ngFor="let offer of data.offers" value="{{offer.id}}">{{offer.name}}</mat-option>
    </mat-select>
  </mat-form-field>
  <div class="buttons">
    <button type="button" class="btn btn-outline-dark" (click)="onCancelClick()">Cancelar</button>
    <button type="button" class="btn btn-dark" (click)="onSubmit()" [mat-dialog-close]="addForm.value">Cadastrar</button>
  </div>
</div>
