
<div class="container">
    <mat-grid-list cols="3" rowHeight="2:1">
        <mat-card class="example-card" *ngFor="let product of dataSource">
            <img mat-card-image src="{{product.image}}" alt="Foto do Produto">
            <mat-card-content>
                <p class="pname">{{product?.name}}</p>
                <p class="pprice">R$ {{product?.price.toFixed(2)}}</p>
            </mat-card-content>
            <button mat-button class="btn btn-dark">Comprar</button>
          </mat-card>
    </mat-grid-list>
</div>
