@import url('https://fonts.googleapis.com/css?family=Cedarville+Cursive|Rock+Salt|Sacramento&display=swap');

.navbar-brand, .navbar-brand:focus{
    font-family: 'Cedarville Cursive', cursive;
    color: red;
    font-size: 30px;
    font-style: italic;
}
.navbar-brand:hover
{
    color: #b60101;
}

#navbar button{
    margin: 10px;
}

.navbar{
    background-color: black;
}

.cart-icon{
    font-size: 30px;
}

.btn-cart{
    color: rgba(255, 255, 255, 0.5);
    right: 40px;
}

.btn-cart:hover{
    right: 40px;
    color: rgba(255, 255, 255, 0.75);
}