<div class="wrapper">
    <div class="topicos">
        <div class="container">
            <div class="row">
                <div class="col-4">
                    <ul class="topicos-footer">
                        <h6>Institucional</h6>
                        <li>Quem somos</li>
                        <li>Nossas lojas</li>
                        <li>Seja Fornecedor</li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="topicos-footer">
                        <h6>Para você</h6>
                        <li>Central de Atendimento</li>
                        <li>Política de Devolução</li>
                        <li>Sugestões e Reclamações</li>
                    </ul>
                </div>
                <div class="col-4">
                    <ul class="topicos-footer">
                        <h6>Serviços</h6>
                        <li>Lista de Casamento</li>
                        <li>Cartão de Crédito</li>
                        <li>Vale Presente</li>
                        <li>Garantia Estendida</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <footer class="rodape">
        <p class="text-center">&copy; Todos os Direitos reservados a
            <b>Sw Corporation</b>
        </p>
    </footer>
</div>