<div class="row">
<div mat-dialog-content class="content col-9">
    <form class="form-horizontal" [formGroup]="editForm" (ngSubmit)="onSubmit()">
      <div class="col-12 form-group">
        <label for="name">Nome do Produto</label>
        <input type="text" class="form-control" placeholder="Nome do Produto" formControlName="name">
      </div>
      <div class="col-12 form-group">
        <label for="price">R$</label>
        <input type="number" class="form-control" placeholder="Preço do Produto" formControlName="price">
      </div>
      <div class="col-12 form-group">
        <label for="image">Imagem do Produto</label>
        <input type="text" class="form-control" placeholder="Imagem do Produto" formControlName="image">
      </div>
      <div class="buttons">
        <button type="button" class="btn btn-outline-dark" (click)="onCancelClick()">Cancelar</button>
        <button type="submit" class="btn btn-dark" [mat-dialog-close]="editForm.value">Cadastrar</button>
      </div>
    </form>
  </div>
  <div class="col-3">
    <img src="{{data.product.image}}" alt="Foto do Produto">
  </div>
</div>