
<table class="table table-hover">
    <thead class="thead-dark">
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Preço Unitário</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Oferta</th>            
            <th scope="col">Valor dos Produtos</th>        
            <th scope="col">Desconto</th>
            <th scope="col">Total</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of data.products">
            <td>{{product.product.name}}</td>
            <td>{{product.product.price.toFixed(2)}}</td>
            <td>{{product.amount}}</td>
            <td>{{product.product.offer.name}}</td>            
            <td>{{product.totalWithoutDiscount}}</td>
            <td>{{product.discount}}</td>
            <td>{{product.total}}</td>
            <td><button class="btn btn-dark" (click)="remFromCart(product.product.id)">Remover</button></td>
        </tr>
    </tbody>
</table>
<div class="footer row">
    <div class="col-5"></div>
    <div class="col-1">Valor </div>
    <div class="col-1">{{data.totalWithoutDiscount}}</div>
    <div class="col-1">Desconto </div>
    <div class="col-1">{{data.discount}}</div>
    <div class="col-1">Total </div>
    <div class="col-1">{{data.total}}</div>
    <div class="col-1"></div>
</div>
