table {
    margin-top: 5px;
}

table *{
    font-size: small;
}
.footer{
    background-color: #343a40;
    border-color: #454d55;
    font-weight: bold;
    color: white;
    padding: 10px;
    margin-bottom: 5px;
}