table {
    margin-top: 5px;
}

thead button {
    font-weight: bold;
    height: 26px;
}
.link {
    background-color: transparent;
    border: 0;
    color: #00f;
    cursor: pointer;
    display: inline-block;
    padding: 0;
    position: relative;
    text-decoration: underline;
}

.tfoot{
    background-color: #343a40;
    border-color: #454d55;
    font-weight: bold;
    color: white;
    padding: 20px;
    margin-bottom: 5px;
}