
<table class="table table-hover">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Preço</th>
        <th scope="col">Oferta</th>
        <th scope="col"><button type="button" class="btn btn-dark btn-sm" (click)="openAddProduct()">Novo Produto</button>
        </th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td>{{product.price.toFixed(2)}}</td>
        <td>{{product.offer.name}}</td>
        <td><button type="button" class="link" (click)="openEditProduct(product)">Edit</button> | <button type="button" class="link" (click)="openDelProduct(product)">Delete</button></td>
      </tr>
    </tbody>
  </table>
<router-outlet></router-outlet>
